[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
[submodule "external/torc"]
	path = external/torc
	url = git@github.com:yafshar/torc_lite.git
[submodule "external/eigen"]
	path = external/eigen
	url = https://github.com/eigenteam/eigen-git-mirror.git
[submodule "external/flann"]
	path = external/flann
	url = https://github.com/mariusmuja/flann.git
[submodule "external/lapacke"]
	path = external/lapacke
	url = git@github.com:yafshar/LAPACKE.git
