# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj
Obj_*

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Built doc
docs/html/*
docs/latex/*
docs/man/*

# macOS
.DS_Store
.DS_Store?

# IDE & format
.clang-format
.vscode

# 
.*.swp
*~

# Test files
*.trs
*.log
*.dSYM
*.lo
*.x

# Python
*.pyc
__pycache__

# autom4te
autom4te.cache/*

# Makefile
Makefile.in
Makefile

# config
config.log
config.status
atconfig


