[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest.git
[submodule "external/torc_lite"]
	path = external/torc_lite
	url = https://github.com/yafshar/torc_lite.git
[submodule "external/googletest"]
	path = external/googletest
	url = https://github.com/google/googletest.git
